<div class="modal fade" id="rename_train" tabindex="-1" aria-labelledby="rename_trainLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="rename_trainLabel">
                    {{local_dict['Train_rename'][current_user.language]}}
                </h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body alert alert-secondary">
                <b>{{train.name}}</b>
                <br><br>
                <input type="text" class="form-control" name="train_new_name" id="train_new_name" placeholder="{{local_dict['New name'][current_user.language]}}" required>
                <input type="hidden" id="train_id_hidden" name="train_id_hidden" value="{{train.training_id}}">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    {{local_dict['Cancel'][current_user.language]}}
                </button>
                <button type="submit" class="btn btn-success">
                    {{local_dict['Confirm'][current_user.language]}}
                </button>
            </div>
        </div>
    </div>
</div>