
<div class="modal fade" id="confirmDeleteMuscle" tabindex="-1" aria-labelledby="confirmDeleteMuscleLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="confirmDeleteMuscleLabel">Подтвердите удаление</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body alert alert-secondary">
                <p> Удалить этот объект: {{muscle.name}}?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                <button type="submit" class="btn btn-danger">Удалить</button>
            </div>
        </div>
    </div>
</div>