{% extends 'base.html' %}
{% block title %}
{{local_dict['Registration'][default_language]}}
{% endblock %}

{% block body %}
<script src="/static/js/def_time.js"></script>

<form method="post">
    <div class="center-block">
        <div class="content">
            <div class="text-center mb-3 border border-secondary p-2 rounded-3">
                <input class="form-control mb-2" name="username" type="text" placeholder="{{local_dict['User'][default_language]}}" required>
                <input class="form-control mb-2" name="email" type="text" placeholder="{{local_dict['E-mail'][default_language]}}" required>
            </div>
            <div class="row ">
                <div class="col">
                    <input type="submit" class="btn btn-success" value="{{local_dict['Confirm'][default_language]}}">
                    <input type="hidden" id="user_time_offset" name="user_time_offset" value="">
                </div>
                <div class="col text-end">
                    <a href="/index" class="">{{local_dict['Back'][default_language]}}</a>
                </div>

                {% include '/modals/flash_mess.html' %}
            </div>
        </div>
    </div>
</form>

{% endblock %}