{% extends 'base.html' %}
{% block title %}
Список
{% endblock %}

{% block body %}
    {% if current_user.role == "admin" %}
        <div class="localization-block">
        <div class="text-center">
            {% include "/modals/flash_mess.html" %}
        </div>
            <a href="/localization">Очистить</a>
            <a href="/">Главная</a>

            <form method="post">
                <span>Сектор</span>
                <select name="sector" id="" class="form-select mb-2">
                    {% for section in sectors %}
                        <option value="{{section}}" {% if section == sector %} selected {% endif %}>{{section}}</option>
                    {% endfor %}
                </select>

                <div class="d-flex">
                    <input type="text" name="key" id="localization_key" placeholder="key" class="form-control" required {% if phrase_key != '' %}value="{{phrase_key}}"{% endif %}>
                </div>

                    {% for language in languages %}
                        <div class="d-flex">
                            <span class="me-3"><img src="/static/flags/{{language}}.png" alt=""></span>
                            <input type="text" name="local_input_{{language}}" id="local_input_{{language}}" {% if phrase_key != '' %}value="{{phrase_dict[language]}}"{% endif %} placeholder="{{language}}" class="form-control">

                        </div>
                    {% endfor %}

                <button type="submit" class="btn btn-success me-5">
                    Сохранить
                </button>
                <a href="#" class="get-code-link">
                    Взять код
                    <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-clipboard-check ms-3" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M10.854 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
                      <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
                      <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
                    </svg>
                </a>

            </form>
            <hr>

                {% for phrase in phrases_list %}
                   <a href="/localization_load_phrase/{{phrase[0]}}" class="me-2 localiz-custom-badge" name="{{phrase[0]}}">{{phrase[0]}}</a>
                {% endfor %}

            <hr>
            <div class="">
                <a class="btn btn-primary" data-bs-toggle="collapse" href="#filters_localization" role="button" aria-expanded="false" aria-controls="filters_localization">
                Фильтры
            </a>
            </div>

            <div class="collapse" id="filters_localization">
              <div class="card card-body">
                Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
              </div>
            </div>


        </div>
    {% endif %}
{% endblock %}