{% extends 'base.html' %}
{% block title %}
Наполнение базы
{% endblock %}

{% block body %}

    {% if current_user.role == "admin" %}
        <div class="">
            <h4>Наполнение базы данных</h4>
        </div>

        <div class="">
            <a href="/index">Главная</a>
        </div>

<hr>

            <a class="btn btn-primary" data-bs-toggle="collapse" href="#exercises_section" role="button" aria-expanded="false" aria-controls="exercises_section">
                Упражнения и локализация
            </a>

            <a class="btn btn-primary" href="/users_administration">
                Пользователи
            </a>

            <a class="btn btn-danger" data-bs-toggle="collapse" href="#advansed_settings" role="button" aria-expanded="false" aria-controls="advansed_settings">
                Настройки сервера
            </a>

            <div class="collapse" id="advansed_settings">
              <div class="card card-body">
                <form action="/set_admin_prefs" method="post">
                    <div class="">
                        <input type="text" name="youtube_link" class="form-control" value="{{prefs.youtube_link}}">
                        <input type="text" name="SMTP_SERVER" class="form-control" placeholder="SMTP_SERVER" value="{{prefs.SMTP_SERVER}}">
                        <input type="text" name="SMTP_PORT" class="form-control" placeholder="SMTP_PORT" value="{{prefs.SMTP_PORT}}">
                        <input type="text" name="SMTP_USERNAME" class="form-control" placeholder="SMTP_USERNAME" value="{{prefs.SMTP_USERNAME}}">
                        <input type="text" name="SMTP_PASSWORD" class="form-control" placeholder="SMTP_PASSWORD" value="{{prefs.SMTP_PASSWORD}}">
                        <input type="text" name="SECRET_KEY" class="form-control" placeholder="SECRET_KEY" value="{{prefs.SECRET_KEY}}">

                    </div>
                    <input type="submit" class="btn btn-success" value="Сохранить">
                </form>
              </div>
            </div>


            <div class="collapse" id="exercises_section">
              <div class="card card-body">
                    <div class="">
                        <div class="row">
                            <div class="col-8">
                                <a href="/list" class="fs-5 fw-semibold btn text-primary">Упражнения и мышцы</a>
                                <a href="/create_exercises" class="fs-5 fw-semibold text-primary btn">Создать упражнение</a>
                                <a href="/localization" class="fs-5 fw-semibold btn text-primary">Локализация</a>
                            </div>
                            <div class="col-2">
                                <a href="/migration/clear_session" class="btn fs-5 fw-semibold btn-outline-info">Очистить сессию</a>
                            </div>
                            <div class="col-2">
                                <a href="/migration/new_base" class="btn fs-5 fw-semibold btn-warning">+Таблицы</a>
                            </div>
                        </div>
                    </div>
              </div>
            </div>



    {% else %}
        <h1>Здесь ничего нет</h1>
    {% endif %}

{% endblock %}



